/* common */

/* ico */
.ico-share{}
.ico-share.ico-home{}
.ico-share.ico-facebook{}
.ico-share.ico-twitter{}
.ico-share.ico-kakao{}
/* wrapper */
.election-wrapper{}
/* top */
.election-top{}
/* list-tab */
/* list-candidate */
/* detail-candidate */
.detail-candidate{}
.detail-candidate .main-detail{}
.detail-candidate .img-candidate{width:100%;height:100%;vertical-align:top}
.detail-candidate .profile-candidate{position:relative;padding:10px 14px;background-color:#007AEF}
.detail-candidate .txt-name{display:block;font-size:20px;color:#fff}
.detail-candidate .txt-number{margin-right:8px;color:#fff}
.detail-candidate .txt-party{color:#EBF2FF}
.detail-candidate .txt-party:before{display:inline-block;margin-right:8px;height:10px;width:1px;background-color:#fff;opacity:0.5;content:""}
.detail-candidate .list-share{position:absolute;top:19px;right:14px}
.detail-candidate .list-share li{float:left;margin-left:10px}
.detail-candidate .list-share li:first-child{margin-left:0}
.detail-candidate .link-share{display:block;width:30px;height:30px;background-color:#EFEFEF}


.detail-candidate .info-detail{margin:0 14px;padding:14px 0;border-bottom:1px solid #F0F1F3;opacity:0.9}
.detail-candidate .dl-comp{overflow:hidden;font-size:15px}
.detail-candidate .dl-comp dt{float:left;padding-right:14px;color:#919191}
.detail-candidate .dl-comp dd{overflow:hidden}
.detail-candidate .txt-age{color:#919191}
.detail-candidate .txt-cp{display:block;padding-top:14px;font-size:13px;color:#919191}
/* list-others */
/* list-schedule*/