/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* last modified shawn 3.15.18` */

.wrapper{padding:14px;background-color:#efefef}
.wrap_payment{border:1px solid #efefef;background-color:#fff}
.wrap_payment .txt_tit{padding:14px;border-bottom:1px solid #efefef;font-weight:600;font-size:24px}
.wrap_payment .list_item{margin:0 14px;padding:14px 0;border-bottom:1px solid #efefef}
.wrap_payment .list_item li{overflow:hidden;margin-top:14px}
.wrap_payment .list_item li:first-child{margin-top:0}
/*.wrap_payment .list_item li:after{display:block;clear:both;content:""}*/
.wrap_payment .item_tit{font-size:14px;color:gray}
.wrap_payment .item_cont{float:right;font-weight:600;font-size:14px;line-height:18px;letter-spacing:-0.2px;text-align:right}
.wrap_payment .txt_cost{color:red}
.wrap_payment .item_result{overflow:hidden;padding:14px;font-weight:600;border-bottom:1px solid #efefef}
.wrap_payment .txt_total{font-size:14px}
.wrap_payment .txt_result{float:right;color:red}
.wrap_payment .list_noti{padding:14px;font-size:13px;color:gray;letter-spacing:-1px;line-height:20px}
.wrap_payment .list_noti li{overflow:hidden}
.wrap_payment .list_noti li:before{float:left;margin:0 10px;content:"."}
.wrap_payment .txt_noti{float:left}
.wrap_payment .txt_emph{color:orangered}
.wrap_payment .txt_desc{margin:0 14px 14px 14px;padding:14px;font-size:13px;color:gray;letter-spacing:-0.8px;line-height:20px;background-color:#efefef}