.wrap-img{height:180px}
.wrap-img .img-candidate{display:block;height:100%;vertical-align:top}

.wrap-profile{height:71px;background-color:#007aff}
.wrap-profile .txt-name{display:block;font-size:20px;color:#fff}