/* last modified shawn 3.15.18` */
.payment_details{padding:14px;}
.payment_details .inner_details{background-color:#fff}
.payment_details .txt_tit{padding:14px;border-bottom:1px solid #efefef;font-weight:600;font-size:24px}
.payment_details .list_item{margin:0 14px;padding:14px 0;border-bottom:1px solid #efefef}
.payment_details .list_item li{overflow:hidden;margin-top:14px}
.payment_details .list_item li:first-child{margin-top:0}
/* .payment_details .list_item li:after{display:block;clear:both;content:""} */
.payment_details .item_tit{font-size:14px;color:gray}
.payment_details .item_cont{float:right;font-weight:600;font-size:14px;line-height:18px;letter-spacing:-0.2px;text-align:right}
.payment_details .txt_cost{color:red}
.payment_details .item_result{overflow:hidden;padding:14px;font-weight:600;border-bottom:1px solid #efefef}
.payment_details .txt_total{font-size:14px}
.payment_details .txt_result{float:right;color:red}
.payment_details .item_noti{padding:14px}

.payment_details .list_noti{margin-bottom:14px;font-size:13px;color:gray;letter-spacing:-1px;line-height:20px}
.payment_details .list_noti li{overflow:hidden}
.payment_details .list_noti li:before{float:left;margin:0 10px;content:"."}
.payment_details .txt_noti{float:left}
.payment_details .txt_desc{padding:14px;font-size:13px;color:gray;letter-spacing:-0.8px;line-height:20px;background-color:#efefef}