/* last modified shawn 3.19.18` */
.inner_bnr{height:100px;background-color:mediumpurple;color:white;text-align:center;line-height:100px;border-radius:2px}
.payment_method{height:200px;background-color:#fff}
