/* last modified shawn 3.16.18` */
.payment_tit{padding:14px;text-align:center;background-color:#fff}
.payment_info{background-color:#fff}
.payment_info .field_info{background-color:#efefef}
.payment_info .legend_info h2{padding:8px 8px 8px 14px;font-size:14px;color:gray}
.payment_info .list_info{padding:14px;background-color:#fff}
.payment_info .list_info li{position:relative;padding-left:60px;margin-top:8px}
.payment_info .list_info li:first-child{margin-top:0}
.payment_info .item_info{position:absolute;left:0;top:9px;font-size:14px;font-weight:600}
.payment_info .mark_essential:after{color:red;content:"*"}
.payment_info .item_input{height:28px;width:100%;border:1px solid #efefef;text-indent:14px;font-size:12px;}
.payment_info .txt_desc{margin-top:8px;font-size:12px;line-height:16px;color:gray}
